<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">ColorSpace</a>
    Dont have an account yet?
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/auth/signup">Sign Up</a>
    </div>
  </nav>
</header>

<div class="form-box">
  <form action="/auth/login" method="POST">
    <div class="form-group">
      <label for="authEmail">Email</label>
      <input id="authEmail" class="form-control" type="email" name="email">
    </div>
    <div class="form-group">
      <label for="authPassword">Password</label>
      <input id="authPassword" class="form-control" type="password" name="password">
    </div>
    <input class="btn btn-outline-dark edit btn-sm" type="submit">
  </form>
</div>
