<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">ColorSpace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/auth/signup">Sign Up</a>
        <a class="nav-item nav-link" href="/auth/login">Log In</a>
        <a class="nav-item nav-link" href="/auth/logout">Logout</a>
        <a class="nav-item nav-link" href="/spaces">Profile</a>
      </div>
    </div>
  </nav>
</header>

<div class="jumbotron">
  <h1 class="display-3">Welcome to ColorSpace</h1>
  <p class="lead">Create custom color palates from your favorite images in seconds.</p>
  <hr class="my-4">
  <p>ColorSpace is a design tool for turning your photos into color inspiration for your home.
    You can use images in your personal collection or download and save images from the internet.</p>
  <p class="lead">
    <a class="btn btn-outline-dark btn-lg" href="/auth/login" role="button">Get Started &rarr;</a>
  </p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="column1 front-page col-med-5 col-sm-5 col-xsm-12"></div>

    <div class="column2 front-page col-med-7 col-sm-7 col-xsm-12">
      <h2>Your memories make for great inspiration</h2>
        <img class="examples" src="../img/flower.png" height="350">
        <img class="examples" src="../img/colors.png" height="100" width="450">
      <p>Create custom color palates from your favorite images in seconds.</p>
    </div>
  </div>
</div>

<div class="container-fluid front-page">
  <div class="row">
    <div class="step1 front-page col-med-4 col-sm-4 col-xsm-12">
      <h2>Step 1</h2>
      <p>Choose.</p>
      <p>Choose a photo with colors you love. Your memories make for great inspiration.
         Don't have any personal photos? Upload images of famous art,
         landscapes, or anything that inspires you.</p>
    </div>
    <div class="step2 front-page col-med-4 col-sm-4 col-xsm-12">
      <h2>Step 2</h2>
      <p>Submit.</p>
      <p>Submit your photo for analysis. Your custom color swatches will
         display in seconds, along with a guide for how to use your new, inspired color palate.</p>
    </div>
    <div class="step3 front-page col-med-4 col-sm-4 col-xsm-12">
      <h2>Step 3</h2>
      <p>Design.</p>
      <p>Choose paint colors or shop for furniture - with no need to print
         your results. Our responsive mobile site enables you to
         take your inspiration with you.</p>
    </div>
  </div>
</div>
