<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">ColorSpace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/auth/signup">Sign Up</a>
        <a class="nav-item nav-link" href="/auth/login">Log In</a>
        <a class="nav-item nav-link ml-auto" href="/auth/logout">Logout</a>
        <a class="nav-item nav-link" href="/spaces">Profile</a>
      </div>
    </div>
  </nav>
</header>


<h1>Welcome to ColorSpace</h1>

<h3>This is the homepage</h3>
