<h2>User Profile Page</h2>

<a href="/">Home</a>
<a href="/new">Create New ColorSpace</a>



<a href="/space">Temp room link</a>

<a href="/space">Temp room link</a>

<a href="/space">Temp room link</a>

<a href="/space">Temp room link</a>


<!-- this page will be a loop displaying of all the spaces  -->
