.swatches {
  height: 150px;
  width: 150px;
  display: inline-block;
}

.swatches > .front {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 7px;
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(0deg);
  transition: all .25s linear;
  text-align: center;
}

.swatches > .back {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 7px;
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(180deg);
  transition: all .25s linear;
  background-color: white;
  border: 1px solid gray;
  padding: 5px;
}

.swatches:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}

.swatches:hover > .back {
 transform: perspective(600px) rotateY(0deg);
}
