body{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

.alert {
  width: 400px;
  margin: 0 auto;
}

.navbar {
  margin-bottom: 20px;
}

.btn {
  margin-top: 10px;
}

.jumbotron {
  background-color: #fbfcfc;
  margin: 20px 0 10px 0;
}

.front-page {
  margin: 10px 0;
  border-radius: 1%;
  background-color: #F8F9FA;
  height: 100%;
  width: 100%;
  color: black;
  padding: 30px;
}

.column1 {
  height: 650px;
  background-image: url(../img/livingroom-flower.png);
  background-repeat: no-repeat;
  color: white;
}

.column2 {
  height: 650px;
}

.column3 {
  display: inline-block;
}

.examples {
  margin: 10px auto;
  text-align: center;
}

.card {
  width: 300px;
  margin: 20px 0;
  display: inline-block;
}

.card-deck{
  background-color: #F8F9FA;
  text-align: center;
}

.form-box{
  width: 400px;
}

.swatches {
  height: 180px;
  width: 180px;
  display: inline-block;
}

.swatches > .front {
  position: absolute;
  width: 175px;
  height: 175px;
  border-radius: 7px;
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(0deg);
  transition: all .25s linear;
  text-align: center;
}

.swatches > .back {
  position: absolute;
  width: 175px;
  height: 175px;
  border-radius: 7px;
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(180deg);
  transition: all .25s linear;
  background-color: #F8F9FA;
  border: 1px solid gray;
  padding: 10px;
}

.color-details{
  background: white;
  position: absolute;
	bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #F8F9FA;
}

.swatches:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}

.swatches:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

.show-cards {
  margin: 10px 20px;
}

.show-image{
  height: 300px;
  width: 400px;
}

.space-notes {
  height: 100%;
  width: 400px;
}

.jb-content {
  height: 250px;
  display: inline-block;
  background-color: white;
}
