<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">ColorSpace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/spaces">Back to Profile</a>
        <a class="nav-item nav-link" href="/auth/logout">Logout</a>
      </div>
    </div>
  </nav>
</header>

<hr />

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Your ColorSpace is ready!</h1>
    <br>
    <img src="<%= space.url %>" width="300" height="200">
    <p>
      <h5><%= space.name %>  <span class="badge badge-secondary">New</span></h5>
    </p>
    <hr />
    <div>
      <a href="/spaces/<%= space.id %>" class="btn btn-outline-dark btn-lg">View Space &rarr;</a>
    </div>
  </div>
</div>
