<h2>Landing page while the API is running</h2>

<hr />

<a href="/">Home</a>
<a href="/spaces">Back to Profile</a>
<a href="/spaces/<%= space.name %>">View Details</a>

<hr />

<img src="<%= space.url %>" height="100" width="155">
