<h2>Edit this Space</h2>

<a href="/">Home</a>
<a href="/spaces">Back to Profile</a>

<hr />

<form action="/spaces/<%= space.id %>" class="edit" role="form">
  <div class="form-group">
  <label for="name">Rename your Space</label>
  <input type="text" class="form-control"  name="name" placeholder="enter new name...">
  <input type="submit" class="btn btn-success">
  </div>
</form>
