<h2>User Profile Page</h2>

<a href="/">Home</a>
<a href="/spaces/new">Create New ColorSpace</a>
<a href="/spaces/:id">Temp room link</a>
<a href="/spaces/:id">Temp room link</a>
<a href="/spaces/:id">Temp room link</a>
<a href="/spaces/:id">Temp room link</a>


<!-- this page will be a loop displaying of all the spaces  -->
