<h2>User Profile Page</h2>

<a href="/">Home</a>
<a href="/spaces/new">Create New</a>


<% spaces.forEach(function(space) { %>
  <div class="well">
    <a href="spaces/<%= space.name %>"><%= space.name %></a>
    <img src="<%= space.url %>" height="100" width="155">
  </div>
<% }); %>
