<h2>Individual Room Display Page</h2>

<a href="/">Home</a>
<a href="/spaces">Back to Profile</a>

<hr />

<h1>This is where the color palate will be! woo!</h1>

<hr />

<img src="<%= space.url %>" height="100" width="155">
