<h2>Individual Room Display Page</h2>

<a href="/">Home</a>
<a href="/spaces">Back to Profile</a>

<hr />

<!-- <div class="swatch1" style="color:#0000FF; height: 100px; width: 100px;"></div>
<div class="swatch2" background: red ></div>
<div class="swatch3" background: green ></div>
<div class="swatch4" background: yellow ></div>
<div class="swatch5" background: purple ></div> -->

<hr />

<img src="<%= space.url %>" height="100" width="155">
