<h2>Individual Room Display Page</h2>

<a href="/">Home</a>
<a href="/auth/logout">Logout</a>
<a href="/spaces">Back to Profile</a>


<hr />

<% space.colors.forEach(function(color) { %>
<div class="swatches" style="background:<%= color.hex %>; height: 50px; width: 50px;"></div>
<% }); %>

<hr />

<img src="<%= space.url %>" height="100" width="155">
